body{
    font-size: 1.4rem;
}

h1, table#orderConfirmation, p, footer a{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

h1, p, table#orderConfirmation caption {
    margin-bottom: 2rem;
}

table {
    margin-bottom: 5rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

p{
    width: 60%;
}

table#orderConfirmation{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

table#orderConfirmation caption{
    text-align: left;
    font-size: 2.5rem;
    font-weight: bold;
}

table#orderConfirmation th{
    padding: 2rem 0;
}

table#orderConfirmation tr img{
    height: 4rem;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    top: 1.3rem;
}

table#orderConfirmation th, table#orderConfirmation td {
    text-align: start;
    padding: 0.5rem 3rem 0.5rem 0;
}

.qrCode {
    width: 60%;
    margin: auto;
    text-align: center;
}

.qrCode p {
    width: 100%;
}

footer a{
    background-color: #65C55E;
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
    display: block;
    width: 40%;
    position: relative;
    bottom: -5rem;
}

.hidden{
    display: none;
}

/*-------------------confirmation loader ----------------------*/

svg{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
}

h5#processing{
    position: fixed;
    top: 70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.stroke-still {
    stroke: #232323;
}

.stroke-animation {
    -webkit-animation: stroke-spacing 1.2s ease-in, stroke-color 4.8s linear;
    animation: stroke-spacing 1.2s ease-in, stroke-color 4.8s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-delay: 0;
    animation-delay: 0;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

@-webkit-keyframes stroke-spacing {
    0% {
        stroke-dasharray: 0 200;
    }
    45% {
        stroke-dashoffset: 0;
        stroke-dasharray: 200 200;
    }
    90% {
        stroke-dashoffset: -200;
        stroke-dasharray: 200 200;
    }
    100% {
        stroke-dashoffset: -200;
        stroke-dasharray: 200 200;
    }
}

@keyframes stroke-spacing {
    0% {
        stroke-dasharray: 0 200;
    }
    45% {
        stroke-dashoffset: 0;
        stroke-dasharray: 200 200;
    }
    90% {
        stroke-dashoffset: -200;
        stroke-dasharray: 200 200;
    }
    100% {
        stroke-dashoffset: -200;
        stroke-dasharray: 200 200;
    }
}

@-webkit-keyframes stroke-color {
    0%  { stroke: #3498DB; }
    24% { stroke: #643232; }
    25% { stroke: #327864; }
    49% { stroke: #327864; }
    50% { stroke: #32326e; }
    74% { stroke: #32326e; }
    75% { stroke: #78325a; }
    99% { stroke: #78325a; }
}

@keyframes stroke-color {
    0%  { stroke: #3498DB; }
    24% { stroke: #643232; }
    25% { stroke: #327864; }
    49% { stroke: #327864; }
    50% { stroke: #32326e; }
    74% { stroke: #32326e; }
    75% { stroke: #78325a; }
    99% { stroke: #78325a; }
}

/*-----------------animate-bottom-------------------*/

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}