body{
    font-size: 1.4rem;
}

/* -------------------MAIN------------------ */

/* -------------------FILTER------------------ */

div#filterFlights{
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    line-height: 4rem;
}

div#filterFlights div{
    display: flex;
}

div#filterFlights h1{
    margin-right: 10rem;
    font-size: 2.5rem;
}

div#filterFlights img{
    height: 4rem;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
}

/* -------------------FLIGHTS------------------ */

div#flights{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 70%;
}

div#flights table{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div#flights table th{
    padding: 2rem 0;
}

div#flights table th,div#flights table td {
    text-align: start;
    padding: 0.5rem 6rem 0.5rem 0;
}

div#flights table td button{
    background-color: #65C55E;
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    border: none;
    color: white;
}

div#flights table tr:nth-child(even){
    background: #989898;
}



