body{
    background-color: #404040;
    color: white;
    font-family: "Segoe UI", sans-serif;
    font-size: 1.4rem;
}

/* -------------------HEADER------------------ */

header{
    line-height: 1.5rem;
    width: 100%;
    background-color: #262626;
    margin-bottom: 3rem;
}

nav{
    padding: 1rem;
}

nav ul{
    display: flex;
    justify-content: space-between;
}

nav ul li{
    margin-top: auto;
    margin-bottom: auto;
}

header nav li a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

header nav li img {
    height: 3rem;
    width: auto;
}


header a.AccountLoginButton {
    display: block;
    padding: 0.2rem 2rem;
    background-color: #65C55E;
    border-radius: 10px;
}

header a.home:hover{
    color: #076000;
}

header a.AccountLoginButton:hover {
    background-color: #076000;
}


/* -------------------MAIN------------------ */

/* -------------------FILTER------------------ */
main a.back{
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.2rem 1.5rem;
    background-color: #989898;
    border-radius: 10px;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

div#filterFlights{
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    line-height: 4rem;
}

div#filterFlights div{
    display: flex;
}

div#filterFlights h1{
    margin-right: 10rem;
    font-size: 2.5rem;
}

div#filterFlights img{
    height: 4rem;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
}

/* -------------------FLIGHTS------------------ */

div#flights{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 70%;
}

div#flights table{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div#flights table th{
    padding: 2rem 0;
}

div#flights table th,div#flights table td {
    text-align: start;
    padding: 0.5rem 0;
}

div#flights table td button{
    background-color: #65C55E;
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    border: none;
    color: white;
}

div#flights table td, div#flights table th {
    padding-right: 6rem;
}

div#flights table tr:nth-child(even){
    background: #989898;
}


/* -------------------POPUP------------------ */

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 45%;
    background-color: #FFF;
    border: 5px solid #696969;
    padding: 20px;
    color: black;
}

#popup .close {
    color: #FFF;
    font-weight: bold;
    background-color: #696969;
    display: inline-block;
    border-radius: 23px;
    padding: 5px;
    font-size: 0.8rem;
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%) translateY(-50%); }

#popup {
    width: 50%; }

.hidden{
    display: none;
}


