body{
    background-color: #404040;
    color: white;
    font-family: Arial, sans-serif;
}


header{
    height: 4rem;
    width: 100%;
    background-color: #262626;
}

nav{
    padding: 0.5rem;
}

nav ul{
    display: flex;
    justify-content: space-between;
}

header nav li a {
    color: white;
    text-align: center;
    text-decoration: none;
}

header nav li img {
    height: 3rem;
    width: auto;
}


header a.AccountLoginButton {
    padding: 4px 16px;
    background-color: #65C55E;
    border-radius: 10px;
}

header a.home:hover{
    color: #076000;
}

header a.AccountLoginButton:hover {
    background-color: #076000;
}

li{
    margin-top: auto;
    margin-bottom: auto;
}

#buttons{
    display: flex;
}

#buttons > div {
    margin: 100px;
    background-color: #989898;
    flex: 1;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
}

#toMars>p,#toEarth>p{
    font-weight: bold;
    font-size: 2.5rem;
}
