html{
    height: 100%;
}

main{
    overflow: auto;
}

#buttons{
    display: flex;
}

#buttons > div {
    margin:3%;
    background-color: #989898;
    flex: 1;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    width: 512px;
}

#toMars>p,#toEarth>p{
    font-weight: bold;
    font-size: 2.5rem;
}

footer ul{
    display: flex;
    justify-content: right;
    right: 0;
    bottom: 0;
    position: fixed;
    height: 30px;
}

footer ul li{
    background-color: #313131;
    margin: 4px;
    padding: 4px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a.footer{
    text-decoration: none;
    color: white;
}

#planetDistances li img{
    height: 2rem;

}