body{
    background-color: #404040;
    color: white;
    font-family: Arial, sans-serif;
    height: 100%;
}

html{
    height: 100%;
}


header{
    height: 4rem;
    width: 100%;
    background-color: #262626;
}
main{
    overflow: auto;
    padding-top: 1rem;
}

#loginForm{
    display: flex;
    flex-direction: column;
}

#loginForm form, #loginFormButtons, #googleSignIn{
    margin-top: 0.7rem;
}

#googleSignIn{
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.abcRioButton, .abcRioButtonLightBlue{
    width: 15rem;
}

#loginForm form{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

#loginFormButtons{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 32rem;
    justify-content: space-between;
}


td.google{
    float: right;
}

td.register{
    float: left;
}

table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.7rem;
}

td.wide{
    text-align: center;
}

td:nth-child(even) {
    text-align: right;
}

input[type=submit], a.google, a.register, a.mock{
    background-color: #65C55E;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    line-height: 2.3rem;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
    margin-top: 0.5rem;
    display: block;
    width: 15rem;
    text-align: center;
}

input.wide{
    width: 32rem;
}

input{
    margin-top: 0.5rem;
}

div.hidden{
   display: none;
}

