

/* -------------------POPUP------------------ */

section.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #FFF;
    border: 5px solid #696969;
    padding: 20px;
    color: black;
    width: 50%;
}

section.popup .close {
    color: #FFF;
    font-weight: bold;
    background-color: #696969;
    display: inline-block;
    border-radius: 23px;
    padding: 5px;
    font-size: 0.8rem;
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%) translateY(-50%);
}

section.popup div.contentwrapper a{
    text-decoration: none;

}

section.hidden{
    display: none;
}