/* -------------------POPUP------------------ */

section.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #FFF;
    border: 5px solid #696969;
    padding: 20px;
    color: black;
    height: auto;
    width: auto;
    font-size: 1.5rem;
}

section.popup .close {
    color: #FFF;
    font-weight: bold;
    background-color: #696969;
    display: inline-block;
    border-radius: 23px;
    padding: 5px;
    font-size: 0.8rem;
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(50%) translateY(-50%);
}

section.popup div a{
    text-decoration: none;
}

section.hidden{
    display: none;
}

section.popup h5 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

section.popup p {
    margin-bottom: 2rem;
}

.popUpButtons{
    display: flex;
    justify-content: space-around;
}

section.popup div.popupButtons a, a#submit {
    background-color: #65C55E;
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    border: none;
    color: white;
    text-decoration: none;
}

#tempOrder{
    display: grid;
    grid-template-areas:
            "rocket rocket-input cost cost-input"
            "mass mass-input width width-input"
            "height height-input depth depth-input";

    grid-template-columns: 0.7fr 1fr 0.7fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 5px;
    margin-bottom: 2rem;
}


/* -------------------REGISTER------------------ */

section#errorScreen{
    border-color: darkred;
}

section#errorScreen h5{
    text-align: center;
}


/*-------------------FLIGHT-FORM------------------*/

section#flightForm p{
    margin-bottom: 1rem;
}

section#flightForm div.sketchfab-embed-wrapper{
    margin-bottom: 1rem;
}

/*----------------PAYMENT-CONFIRM-----------------*/

section#chosenPayment form{
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 0.2fr 0.7fr 0.2fr 1fr;
    column-gap: 1rem;
}


