body{
    background-color: #404040;
    color: white;
    font-family: Arial, sans-serif;
    height: 100%;
}

html{
    height: 100%;
}


header{
    height: 4rem;
    width: 100%;
    background-color: #262626;
}
main{
    overflow: auto;
}
nav{
    padding: 0.5rem;

}

ul.nav{
    display: flex;
    justify-content: space-between;

}

header nav li a {
    color: white;
    text-align: center;
    text-decoration: none;
}

header nav li img {
    height: 3rem;
    width: auto;
    float: left;

}


header a.AccountLoginButton {
    padding: 4px 16px;
    background-color: #65C55E;
    border-radius: 10px;
}

header a.home:hover{
    color: #076000;
}

header a.AccountLoginButton:hover {
    background-color: #076000;
}

li{
    margin-top: auto;
    margin-bottom: auto;
}

li.AccountLoginButton{
    text-align: right;
}

input.wide{
    width: 32rem;
    text-align: center;
}

input{
    width: 15rem;
}

select{
    width: 15rem;

}

table{
    margin-left: auto;
    margin-right: auto;
}

td.wide{
    text-align: center;
}

td:nth-child(even) {
    text-align: right;
}

.earth{
    display: none;
}