body{
    background-color: #404040;
    color: white;
    font-family: "Segoe UI", sans-serif;
    height: 100%;
}

/* -------------------HEADER------------------ */

header{
    line-height: 1.5rem;
    width: 100%;
    background-color: #262626;
    margin-bottom: 2rem;
}

nav{
    padding: 0.5rem;
}

nav ul{
    display: flex;
    justify-content: space-between;
}

nav ul li{
    margin-top: auto;
    margin-bottom: auto;
}

.loginLogoutButton {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

header nav li img {
    height: 3rem;
    width: auto;
    float: left;
}

header a{
    color: white;
}

header a.loginLogoutButton{
    display: block;
    padding: 0.2rem 2rem;
    border-radius: 10px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
}
header a#AccountLoginButton, a#AccountButton{
    background-image: linear-gradient(to right, #29a212 0%, #16fb78 51%, #29a212 100%);
}

header a#AccountLogoutButton{
    background-image: linear-gradient(to right, #fa0000 0%, #f76d05 51%, #fa0000 100%);
}

header a#AccountLoginButton:hover, header a#AccountButton:hover, header a#AccountLogoutButton:hover{
    font-weight: lighter;
    background-position: right top;
}

nav li.AccountLoginButton {
    width: 15rem;
}

li a.AccountLoginButton{
    width: 5rem;
    float: right;
}

header a.home:hover{
    color: #29a212;
}

header a.home{
    width: 15rem;
    text-align: center;
    margin-right: 12rem;
}


#planetDistances{
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
    width: 15rem;
}

/* -------------------HEADER------------------ */

main a.back{
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.2rem 1.5rem;
    background-color: #989898;
    border-radius: 10px;
    margin-bottom: 2rem;
    margin-left: 17%;
}

/*----------------OAUTH------------------*/

li.AccountLoginButton {
    display: flex;
}
